:root {
  --background: hsl(0, 0%, 0%);
  --text-primary: #000;
  --text-secundary: #8e05c2;
  --accent: #8e05c2;
  --border: #333;
  --form-bg: #000000;
}
 
* {
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.1s;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background);
  background-image: url(./bg.svg);
  background-size: cover;
  background-position: center;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);  
  z-index: -1;  
  background-blend-mode: overlay;
}


a {
  color: var(--text-secundary);
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  transition: all 0.5s;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  margin: auto;
  box-shadow: 0px 0px 20px var(--border);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8); 
  
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
h3 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#userPassword {
  width: 100%;
}

 
 
/* button {
  background-color: var(--accent);
  border: 1px solid var(--accent);
  color: #fff;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  display: block;  
} */
 
button {
  position: relative;
  padding: 6px 18px;
  background: #5264AE;
  font-size: 17px;
  font-weight: 500;
  margin-top: 25px;
  color: #181818;
  border: 3px solid #5264AE;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  left:26%;
  width: 120px;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #ffffff);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #ffffff);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #ffffff);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #ffffff);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #ffffff);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #ffffff);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #5264AE;
  box-shadow: 0 0 25px #95d8fe8c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #ffffff);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #ffffff);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #ffffff);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #ffffff);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #ffffff);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #ffffff);
  z-index: 2;
}

.fil0 {
  fill: #ffffff;
}


.create {
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.create:hover {
  color: var(--accent);
}

.divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--text-primary);
  line-height: 0.1rem;
  margin: 1rem 0;
  font: 1.5em sans-serif;
}

.social-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

#google_logo {
  width: 100px;
  cursor: pointer;
}

#google_logo:hover { 
  transition: width 0.3s;
  box-shadow: 0 0 25px #95d8fe8c;
}
.profile-img{
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 478px) {
  .container {
    padding: 1rem;
    width: 90%;
  }

  h1 {
    font-size: 1.5rem;
  }
 

  .divider {
    margin: 1.5rem 0;
  }

  #google_logo {
    width: 80px;
  }
}
input[type="text"], input[type="password"], input[type="email"] {
  color: #fff;
} 

#forgotPassword{
  margin: 10px;
  margin-left: 0px;
  margin-top: 10px;
  font-size: 12px;
}
/* From Uiverse.io by G4b413l */ 
.group {
 position: relative;
}

.input {
  margin-top: 20px;
 font-size: 14px;
 padding: 10px 10px 10px 5px;
 display: block;
 width: 250px;
 border: none;
 border-bottom: 1px solid #515151;
 background: transparent;
}

.input:focus {
 outline: none;
}

label {
 color: #999;
 font-size: 14px;
 font-weight: normal;
 position: absolute;
 pointer-events: none;
 left: 5px;
 top: 10px;
 transition: 0.2s ease all;
 -moz-transition: 0.2s ease all;
 -webkit-transition: 0.2s ease all;
}

.input:focus ~ label, .input:valid ~ label {
 top: -15px;
 font-size: 14px;
 color: #5264AE;
}

.bar {
 position: relative;
 display: block;
 width: 250px;
}

.bar:before, .bar:after {
 content: '';
 height: 2px;
 width: 0;
 bottom: 1px;
 position: absolute;
 background: #5264AE;
 transition: 0.2s ease all;
 -moz-transition: 0.2s ease all;
 -webkit-transition: 0.2s ease all;
}

.bar:before {
 left: 50%;
}

.bar:after {
 right: 50%;
}

.input:focus ~ .bar:before, .input:focus ~ .bar:after {
 width: 50%;
}

.highlight {
 position: absolute;
 height: 60%;
 width: 100px;
 top: 25%;
 left: 0;
 pointer-events: none;
 opacity: 0.5;
}

.input:focus ~ .highlight {
 animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
 from {
  background: #5264AE;
 }

 to {
  width: 0;
  background: transparent;
 }
}
 
.button.google {
  left: 0;
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(50, 50, 80, 0.25);
  gap: 0.75rem;
  color: #ffffff;
  background-color: rgb(50, 50, 80);
  cursor: pointer;
  transition: all 0.6s ease;
  text-decoration: none;
  width: auto;
}

.button.google svg {
  height: 24px;
  width: 24px;
  fill: #fff;
  margin-right: 0.5rem;
}

.button.google:hover {
  transform: scale(1.02);
  background-color: rgb(90, 90, 120);
  box-shadow: 0 2px 4px rgba(90, 90, 120, 0.1);
}

.button.google:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 40, 0.3);
}

.button.google:active {
  transform: scale(0.98);
  opacity: 0.8;
}

#authBtn{ 
  position: relative;
  left: -15%;
  padding: 0;
  margin: 0;
}


.donthave{
  margin-top: 10px;
  cursor: pointer;
}


#Accept{ 
  margin-top: 15px;
  display: flex;
}
.Accept{
  margin-left: 5px;
  font-size: 12px;
}
@media (max-width: 480px) {
  .button.google {
    max-width: 100%;
    font-size: 12px;
  }

  body{
    background-image:url(./bgm.svg);
  }

  .Accept{
  margin-left: 5px;
  font-size: 12px;
}
   #termsCheckbox {
  width: 5vmin;
  margin-top: -10px;
}
}